[package]
name = "migration"
version = "0.1.0"
edition = "2021"

[lib]
name = "migration"
path = "src/lib.rs"

[dependencies]
async-trait = "0.1"

[dependencies.sea-orm-migration]
version = "1.1.11"
features = [
  "sqlx-postgres",
  "runtime-tokio-native-tls",
]
